<!DOCTYPE html>
<html>
<title>Lottery Checker</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>

body,h1 {font-family: "Raleway", Arial, sans-serif}

h1 {letter-spacing: 6px}

.w3-row-padding img {margin-bottom: 12px}

table, th, td {
  border: 1px solid black;
  padding: 5px;
}

table {
  border-spacing: 15px;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
}

</style>
<body>

<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px">

<!-- Header -->
<header class="w3-panel w3-center w3-opacity" style="padding:40px 16px">
  <h1 class="w3-xlarge">Lottery Checker</h1>
  
  <div class="w3-padding-32">
    <div class="w3-bar w3-border">
      <a href="/" class="w3-bar-item w3-button">Home</a>

      {% if not user.is_authenticated %}
      <a href="/login" class="w3-bar-item w3-button w3-light-grey">Login</a>
      <a href="/register" class="w3-bar-item w3-button">Sign Up</a>
      {% endif %}

      {% if user.is_authenticated %}
      <a href="/profile" class="w3-bar-item w3-button w3-light-grey">Profile</a>
      <a href="/logout" class="w3-bar-item w3-button">Logout</a>
      {% endif %}

    </div>
  </div>
</header>
{% block content %}{% endblock %}
</body>
</html>