{% extends 'base/base.html' %}

{% block content %}

<h2 class="w3-center w3-opacity" style="padding:0px 16px">Check an individual ticket!</h2>
<form method="POST" class="w3-center w3-opacity">
    {% csrf_token %}
   
    <input type="number" id="WB1" name="WB1" min=1 max=70 required>
 
    <input type="number" id="WB2" name="WB2" min=1 max=70 required>
  
    <input type="number" id="WB3" name="WB3" min=1 max=70 required>
    
    <input type="number" id="WB4" name="WB4" min=1 max=70 required>
  
    <input type="number" id="WB5" name="WB5" min=1 max=70 required>

    <input style = "border: 2px solid red;"type="number" id="RB" name="RB" min=1 max=25 required> <br>
    
    <label for="Date"> Draw Date </label> <br>
    <input type="date" id="DD" name = "DD" value="" required> <br>
    <input type="submit" value="Submit">
  </form>

  {% endblock %}