<!DOCTYPE html>
<html>
<title>Lottery Checker</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1 {font-family: "Raleway", Arial, sans-serif}
h1 {letter-spacing: 6px}
.w3-row-padding img {margin-bottom: 12px}
</style>
<body>

<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px">

<!-- Header -->
<header class="w3-panel w3-center w3-opacity" style="padding:40px 16px">
  <h1 class="w3-xlarge">Lottery Checker</h1>
  
  <div class="w3-padding-32">
    <div class="w3-bar w3-border">
      <a href="#" class="w3-bar-item w3-button">Home</a>
      <a href="#" class="w3-bar-item w3-button w3-light-grey">Login</a>
      <a href="#" class="w3-bar-item w3-button">Sign Up</a>
    </div>
  </div>
</header>

<h2 class="w3-center w3-opacity" style="padding:0px 16px">Check an individual ticket!</h2>
<form method="POST" class="w3-center w3-opacity">
    {% csrf_token %}
    <label for="PowerBall">PowerBall</label><br>
    <input type="radio" id="PowerBall" name="type" value="PowerBall"> <br>
    <label for="MegaMillions">MegaMillions</label><br>
    <input type="radio" id="MegaMillions" name="type" value="MegaMillions"> <br>
    <label for="WB1">White Ball #1</label><br>
    <input type="number" id="WB1" name="WB1" min=1 max=70><br>
    <label for="WB2">White Ball #2</label><br>
    <input type="number" id="WB2" name="WB2" min=1 max=70><br><br>
    <label for="WB2">White Ball #3</label><br>
    <input type="number" id="WB3" name="WB3" min=1 max=70><br><br>
    <label for="WB2">White Ball #4</label><br>
    <input type="number" id="WB4" name="WB4" min=1 max=70><br><br>
    <label for="WB2">White Ball #5</label><br>
    <input type="number" id="WB5" name="WB5" min=1 max=70><br><br>
    <label for="WB2">Red Ball</label><br>
    <input type="number" id="RB" name="RB" min=1 max=25><br><br>
    <label for="Date"> Draw Date </label> <br>
    <input type="date" id="DD" name = "DD" value=""> <br>
    <input type="submit" value="Submit">
  </form>


</body>
</html>